# Admin Authentication
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your_secure_password

# Database Configuration
DATABASE_URL=mysql://Adify:1385138Mm@@185.164.72.61:3306/?charset=utf8mb4


# Authentication settings
NEXTAUTH_SECRET=your-nextauth-secret-key-change-this-in-production
NEXTAUTH_URL=http://localhost:3000

# Vercel Blob Storage for images
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_R8tBOZZFg4RmXZ6i_k54VlqJY0EsAGEiDr9JIjUSGLuLjBe

#exel editor
HUGGINGFACE_API_KEY=your_api_key_here